{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "trailingComma": "es5",
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
